{% extends 'layout.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h2>Sign In</h2>
            <p>Welcome back! Please enter your credentials</p>
        </div>

        <form method="post" class="login-form">
            {% csrf_token %}
            
            <div class="form-group">
                {% for field in form %}
                <div class="input-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <button type="submit" class="login-button">
                Sign In
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </button>
        </form>
    </div>
</div>

{% endblock %}