{% extends 'layout.html' %}
{% block title %}Reviews{% endblock %}

{% block content %}
<div class="reviews-container">
    {% if not user.is_staff %}
        <form method="post" class="review-form">
            {% csrf_token %}
            <h2 class="form-title">Add review</h2>
            {{ form.as_p }}
            <p><button type="submit">Add review</button></p>
        </form>
    {% endif %}

    <section class="scroll-gallery">
        <h2>Анимация статуй при скроллинге</h2>
        <div class="statue-container">
            <div class="statue-item">
                <img src="/media/images/dasa1.png" alt="Статуя 1" class="statue">
                          </div>
            <div class="statue-item">
                <img src="/media/images/dasa.png" alt="Статуя 2" class="statue">
                
            </div>
            <div class="statue-item">
                <img src="/media/images/dasa2.png" alt="Статуя 3" class="statue">
                
            </div>
        </div>
    </section>
    
    <h1>Reviews</h1>
    
    <div class="reviews-list">
        {% for review in reviews %}
            <div class="review" lang="en">
                <h4 class="review-author">{{ review.author.user.get_full_name|default:review.author.user.username }}</h4>
                <div class="review-content">
                    <p>{{ review.content }}</p>
                </div>
                <div class="review-meta">
                    <span class="review-rating">Rating: {{ review.rate }}/5</span>
                    <span>Posted on: {{ review.date }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  const statues = document.querySelectorAll(".statue");

  function animateStatues() {
    const windowHeight = window.innerHeight;

    statues.forEach(statue => {
      const rect = statue.getBoundingClientRect();
      const distanceFromCenter = Math.abs(rect.top + rect.height / 2 - windowHeight / 2);
      const maxDistance = windowHeight / 2;

      const ratio = Math.max(0, 1 - distanceFromCenter / maxDistance);
      const scale = 0.5 + ratio * 0.8; 
      const opacity = ratio;

      statue.style.transform = `scale(${scale})`;
      statue.style.opacity = opacity;
    });
  }

  window.addEventListener("scroll", animateStatues);
  window.addEventListener("resize", animateStatues);
  animateStatues(); 
});
</script>
{% endblock %}
